<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO-DO Lists</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="/todo.js" defer></script>
</head>
<body>
    <nav>
        <h4>Min fina sida</h4>
        <ul>
            {{#if user}}
            <li>Välkommen, {{user.name}}!</li>
            <li><a href="/logout">Logga ut</a></li>
            <li><a href="/todo">Hem</a></li>
            {{else}}
            <li><a href="/">Hem</a></li>
            <li><a href="/login">Logga in</a></li>
            <li><a href="/register">Registrera</a></li>
            {{/if}}
        </ul>
    </nav>

    <div class="todo-container">
        <div class="todo-lists">
            <h2>My Lists</h2>
            <button class="btn-add">Add List</button>
            <input type="text" id="list-name-input" class="list-name-input" style="display:none;" placeholder="Listans namn">
            <button id="save-list-button" class="save-list-button" style="display:none;">Spara lista</button>

              {{#each lists}}
                 <div class="list-item">
                   {{name}}
                
                <div class="divID">
                    {{id}}
                </div>
                </div>
              {{/each}}
              <button class="btn-delete">X</button>


        </div>
        <div class="todo-details">
            <h2>Details / Tips</h2>
            <div class="details-content">
                <h3>Today's Tip</h3>
                <p>Start your day by tackling the most challenging task. It gives you a sense of achievement and makes the rest of the day feel more manageable.</p>

                <h3>Guide</h3>
                <p>Klicka på listan, sen krysset för att ta bort listan</p>
            </div>
        </div>
    </div>

    <footer class="footer">
        <p>© 2024 To-Do Lists AB. Alla rättigheter förbehållna.</p>
    </footer>

 


</body>
</html>
